h1{
    color:deepskyblue;
    text-align:center;
    font-weight: 600;
    font-style:italic;
    font-family: Herculanum;
}

body{
    background-color:azure;

}

#Blurb {
  font-family: Papyrus  
    
}

#Picture{
display:block;
    margin:auto;
}

p {
    color:dodgerblue
}

h2{
    color:blue
}
#Picture2{
  display:block;
    margin:auto;  
    
}
