h1{
    color:deepskyblue;
    text-align:center;
    font-weight: 600;
    font-style:italic;
    font-family: Herculanum;
}

body{
    background-color:azure;

}

#Blurb {
  font-family: Papyrus  
    
}

#Picture{
display:block;
    margin:auto;
}

p {
    color:dodgerblue;
font-family: Noteworthy;
}

h2{
    color:blue
}
#Picture2{
  display:block;
    margin:auto;  
    
}
@media only screen and (max-width: 500px) {
    body {
        background-color:black;
    }
    #Picture2{
        width: 350px;
        height: 350px;
    }
 #Picture3{
        width: 300px;
        height: 300px;
    }
 #Picture4{
        width: 300px;
        height: 300px;

    }
}
@media only screen and (max-width: 250px) { 
    #Picture{
        width:150px;
        height:150px;
    }
#Picture2{
        width: 150px;
        height: 150px;
    }
 #Picture3{
        width: 150px;
        height: 150px;
    }
 #Picture4{
        width: 150px;
        height: 150px;

}